*{
  padding:0;
  margin:0;
  background-color: #838B8A;
}


@font-face {
  font-family: 'retro';
  src: url('Retro_Gaming.ttf');
  font-stye: normal;
  font-weight: 100;
}


body{
  font-family: retro;
  font-size:40px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 2fr;
  grid-template-columns: 30% 70%;
  height:100%;


  grid-text-emphasis:
  'score'
  'game';

  #scoreboard{
    grid-area: score;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

  }

  #gamebox{
    grid-area: game;
    width: 400px;
    height: 500px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;

  }
}


.background_10{
  background: url('doge_icon.png');
}

.background_20{
  background: url('background_20.gif');
}

.background_30{
  background: url('background_30.gif');
}

.background_40{
  background: url('background_40.gif');
}

.background_50{
  background: url('background_50.gif');
}

#ball{
  width: 20px;
  height: 20px;
  background: url('doge_icon.png');
  background-size: cover;
  background-color: #e1b303;
  border: 3px solid #e1b303;
  border-radius:50%;
  position: relative;
  top: 400px;
  left: 200px;
  z-index: 10000;
}

.platform{
  width: 400px;
  height: 20px;
  background-color: #393e46;
  position: relative;
  top:100px;
  margin-top:-20px
}

.gap{
  width: 40px;
  height: 20px;
  background-color: #838B8A;
  position: relative;
  top: 100px;
  margin-top:-20px;
}
